@import "node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-body-color: #fff;
}

::placeholder {
  color: $gray-700 !important;
  opacity: 1 !important;
}

$gray-500: rgba(0, 0, 0, 0.3);
$gray-900: rgba(0, 0, 0, 0.5);

.bg-body {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  height: 100vh;
}

.bg-transparent {
  backdrop-filter: blur(20px);
  background-color: $gray-500 !important;
}

.bg-transparent-dark {
  background-color: $gray-500;
}

.bg-transparent-darker {
  background-color: $gray-900;
}

.form-control {
  background: transparent;
  color: $light;
  border: 1px solid $gray-700;
}

.form-control:focus {
  background: transparent;
  color: $gray-700;
  border: 1px solid $light;
  outline: none;
  box-shadow: none;
}

.bi {
  font-size: 2rem;
  color: $light;
}

.form-container {
  max-width: 320px;
}

.text-muted {
  color: #b4b2b1 !important;
}

