@import "node_modules/bootstrap/scss/bootstrap";

.bg-body{
    background-image: url("../assets/images/background.png");
    background-size: cover;
    height:100vh;
}

.bg-transparent{
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.5);
}